## 반복문 for

In [2]:
score=[85,70,95,85]
total=0
total=score[0]+score[1]+score[3]
total

240

In [6]:
score=[85,70,95,85]
total = 0
for s in score:
  total = total+s
total

335

In [7]:
test=[10,20,30,40,50]
for i in test:
  print(i)

10
20
30
40
50

In [8]:
test=[10,20,30,40,50]
total=0
for i in test:
  print(i)
  total=total+i
print(total)

10
20
30
40
50
150

In [9]:
for a in "hello":
  print(a)

h
e
l
l
o

In [16]:
total=0
for i in range(1,11,1):
  print(i)
  total = total+i
print("총합계는 ",total,"입니다.")

1
2
3
4
5
6
7
8
9
10
총합계는  55 입니다.

In [17]:
alist=[]
for i in range(1,11,1):
  alist.append(1)
print(alist)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [20]:
sale=[7,8,9,10]
for s in sale:
  print("오늘의 판매 가격은", (s*500), "원입니다.")

오늘의 판매 가격은 3500 원입니다.
오늘의 판매 가격은 4000 원입니다.
오늘의 판매 가격은 4500 원입니다.
오늘의 판매 가격은 5000 원입니다.

In [24]:
sale=[7,8,9,10]
pay=[]
for i in sale:
  total=i*500
  pay.append(total)
pay

[3500, 4000, 4500, 5000]