In [9]:
score = 50
if score >70:
  print("합격입니다")

In [11]:
score = 90
if score >70:
  print("합격입니다")
else:
  print("불합격입니다")

합격입니다

In [13]:
score = 75
if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
else:
  print("F")

C

In [16]:
score = int(input("점수를 입력하세요."))
if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
else:
  print("F")

점수를 입력하세요.85
B

In [18]:
name = input("이름을 입력하세요 : ")
year = int(input("태어난 해를 입력하세요 : "))

if 2025-year >= 19:
  print(name, "님은 성년입니다. 입장하세요.")
else:
  print(name, "님은 미성년입니다. 입장할 수 없습니다.")

이름을 입력하세요 : 홍길동
태어난 해를 입력하세요 : 1997
홍길동 님은 성년입니다. 입장하세요.

In [20]:
name = input("이름을 입력하세요 : ")
year = int(input("태어난 해를 입력하세요 : "))
age = 2025-year
if age >= 19:
  print(name, "님은", age, "세로 성년입니다. 입장하세요.")

이름을 입력하세요 : 홍길동
태어난 해를 입력하세요 : 1997
홍길동 님은 28 세로 성년입니다. 입장하세요.

In [23]:
name = input("이름을 입력하세요 : ")
year = int(input("태어난 해를 입력하세요 : "))
age = 2025-year
if age >= 19:
  print("%s님은 %d세로 성년입니다. 입장하세요." %(name, age))

이름을 입력하세요 : 홍길동
태어난 해를 입력하세요 : 1997
홍길동님은 28세로 성년입니다. 입장하세요.

In [24]:
name = input("이름을 입력하세요 : ")
year = int(input("태어난 해를 입력하세요 : "))
age = 2025-year
if age >= 19:
  print(f"{name}님은 {age}세로 성년입니다. 입장하세요.")

이름을 입력하세요 : 홍길동
태어난 해를 입력하세요 : 1997
홍길동님은 28세로 성년입니다. 입장하세요.

In [25]:
name = input("이름을 입력하세요 : ")
year = int(input("태어난 해를 입력하세요 : "))
age = 2025-year
if age >= 19:
  print("{}님은 {}세로 성년입니다.".format(name, age))

이름을 입력하세요 : 홍길동
태어난 해를 입력하세요 : 1997
홍길동님은 28세로 성년입니다.

In [27]:
temp = int(input("기온을 입력하세요 : "))
print("오늘 기온은 영상 %d입니다."%temp)

if temp < 24:
  print("긴바지를 입으세요.")
  if temp < 10:
    print("외투를 입으세요.")
else:
  print("반바지를 입으세요.")

기온을 입력하세요 : 5
오늘 기온은 영상 5입니다.
긴바지를 입으세요.
외투를 입으세요.

In [12]:
menu = ['김밥','튀김','만두','떡볶이']
order = input("먹고 싶은 게 있어요?")

if order in menu:
  print("주문 가능합니다")
else:
  print("주문할 수 없습니다.")

먹고 싶은 게 있어요?김밥
주문 가능합니다

In [34]:
number = [3,7,4,5,2]
i=0
for num in number:
  i = i+1
  if num%2 == 0:
    print("%d번째 숫자는 짝수입니다."%i)
  else:
    print("%d번째 숫자는 홀수입니다."%i)

1번째 숫자는 홀수입니다.
2번째 숫자는 홀수입니다.
3번째 숫자는 짝수입니다.
4번째 숫자는 홀수입니다.
5번째 숫자는 짝수입니다.

In [35]:
number = [3,7,4,5,2]
i=0
for num in number:
  i=i+1
  if num%2==0:
    print("{}번째 숫자는 {}(으)로 짝수입니다.".format(i, num))
  else:
    print("{}번째 숫자는 {}(으)로 홀수입니다.".format(i, num))

1번째 숫자는 3(으)로 홀수입니다.
2번째 숫자는 7(으)로 홀수입니다.
3번째 숫자는 4(으)로 짝수입니다.
4번째 숫자는 5(으)로 홀수입니다.
5번째 숫자는 2(으)로 짝수입니다.

In [3]:
score = [90,50,80,60,70]
passed = []

for s in score:
  if s >= 70:
    passed.append(s)
print("passed = ",passed)

passed =  [90, 80, 70]

In [1]:
n = 1
while True:
  print(n, "번째 출력합니다.")
  n = n + 1
  if n > 10 :
    break

1 번째 출력합니다.
2 번째 출력합니다.
3 번째 출력합니다.
4 번째 출력합니다.
5 번째 출력합니다.
6 번째 출력합니다.
7 번째 출력합니다.
8 번째 출력합니다.
9 번째 출력합니다.
10 번째 출력합니다.

In [3]:
while True:
  menus = ["김밥", "튀김", "만두", "떡볶이"]
  order = input("먹고 싶은 게 있어요?")
  if order in menus:
    print("주문 가능합니다.")
  else:
    print("주문할 수 없습니다.")
  if order == "0":
    print("프로그램을 종료합니다.")
    break

먹고 싶은 게 있어요?김밥
주문 가능합니다.
먹고 싶은 게 있어요?만두
주문 가능합니다.
먹고 싶은 게 있어요?초밥
주문할 수 없습니다.
먹고 싶은 게 있어요?0
주문할 수 없습니다.
프로그램을 종료합니다.